{% load static %}

<!DOCTYPE html>
<html lang="en">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin page</title>
    <!-- base:css -->
    <link rel="stylesheet" href= {% static "vendors/typicons.font/font/typicons.css" %}>
    <link rel="stylesheet" href= {% static "vendors/css/vendor.bundle.base.css" %}>
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href= {% static "css/vertical-layout-light/style.css" %}>
    <!-- endinject -->
    <link rel="shortcut icon" href= {% static "images/favicon.png" / %} >
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      {% include "partials/_navbar.html" %}
      <!-- end partial _navbar-->

      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        {% include "partials/_settings-panel.html" %}
        <!-- end partial _settings-panel-->

        <!-- partial:partials/_sidebar.html -->
        {% include "partials/_sidebar.html" %}
        
        <!-- end partial _sidebar-->

        <!-- content-wrapper starts -->
        <!-- This is where the main content will be rendered: -->
            {% block content %}
            <!-- Plotly apps will render here -->
            {% endblock %}

          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
        {% include "partials/_footer.html" %}
          
          <!-- end partial_footer -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
   
    <!-- container-scroller -->
    <!-- base:js -->
    <script src={% static "vendors/js/vendor.bundle.base.js" %}></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src={% static "js/off-canvas.js" %}></script>
    <script src={% static "js/hoverable-collapse.js" %}></script>
    <script src={% static "js/template.js" %}></script>
    <script src={% static "js/settings.js" %}></script>
   
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src={% static "vendors/progressbar.js/progressbar.min.js" %}></script>
    
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src={% static "js/dashboard.js" %}></script>
    <!-- End custom js for this page-->
  </body>
</html>
